<app-loading *ngIf="loading"></app-loading>
<div *ngIf="error" class="alert alert-danger animated fadeIn">
  <h3>Erro! :(</h3>
  <p>{{ messageError }}</p>
</div>

<app-cards [items]="newMusics"></app-cards>
