<app-loading *ngIf="loadingArtist"></app-loading>
<div *ngIf="!loadingArtist" class="row">
  <div class="col-2 animated fadeIn">
    <img
      [src]="artist.images | noimage"
      alt=""
      class="img-thumbnail img-circle"
    />
  </div>
  <div class="col">
    <h3>{{ artist.name }}</h3>
    <p>
      <a [href]="artist.external_urls.spotify" target="_blank"
        >Ir para a página do artista</a
      >
    </p>
  </div>
  <div class="col-4 text-right">
    <button routerLink="/search" class="btn btn-outline-danger">Voltar</button>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Albúm</th>
          <th>Música</th>
          <th>Preview</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let track of topTracks">
          <td>
            <img
              [src]="track.album.images | noimage"
              class="img-thumb-playlist"
            />
          </td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td>
            <iframe
              [src]="track.uri | securedom"
              width="300"
              height="80"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
