<div class="row">
  <div class="col">
    <input
      #term
      type="text"
      (keyup)="search(term.value)"
      class="form-control"
      placeholder="Buscar artista"
    />
  </div>
</div>

<app-loading *ngIf="loading"></app-loading>

<div class="row mt-5">
  <div class="col">
    <app-cards *ngIf="!loading" [items]="artists"></app-cards>
  </div>
</div>
