<div class="card-columns">
  <div
    (click)="seeArtist(item)"
    *ngFor="let item of items"
    class="card animated fadeIn pointer"
  >
    <img [src]="item.images | noimage" alt="" class="card-img-top" />
    <div class="card-body">
      <h5 class="card-title">{{ item.name }}</h5>
      <p class="card-text">
        <span
          *ngFor="let artist of item.artists"
          class="badge badge-pill badge-primary"
          >{{ artist.name }}</span
        >
      </p>
    </div>
  </div>
</div>
